* {
  box-sizing: border-box;
}

:root {
  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 48px;

  --radii-0: 0px;
  --radii-1: 2px;
  --radii-2: 4px;
  --radii-3: 8px;

  --fontSizes-0: 12px;
  --fontSizes-1: 14px;
  --fontSizes-2: 16px;
  --fontSizes-3: 20px;

  --colors-white: #fff;
  --colors-blues-100: #97cbff;
  --colors-blues-200: #1d8eff;
  --colors-blues-300: #1d64ff;
  --colors-blues-400: #1469be;

  --colors-greys-100: #f0f0f0;
  --colors-greys-200: #e1e1e1;
  --colors-greys-300: #bababa;
  --colors-greys-400: #838383;
}
